@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');

* {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

svg {
  font-size: 1rem;
}

body {
  font-family: $font-secondary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: bold;
}
