/*
*  CORES
*/

$white: #ffffff;
$black: #000000;

$color-primary: #0080B6;
$color-primary-light: #01A4E0;
$color-primary-dark: #1F3A54;

$color-success:  #60B070;
$color-warning: #FAA52F;
$color-accent: #A7214D;
$color-danger:  #DA3338;
$color-info: #E2E7E9;

/*
*  TIPOGRAFIA
*/
$font-primary: 'Montserrat', Helvetica, Arial, sans-serif;
$font-secondary: 'Roboto', Arial, Helvetica, sans-serif;


