.header {
  width: 100%;
  height: auto;

  &__topbar {
    display: flex;
    width: 100%;
    height: 5rem;
    padding-left: 3rem;

    &__logo {
      align-self: center;
    }
  }

  &__presentation {
    margin-bottom: 2.5rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    background-color: $color-primary-dark;
    background-size: cover;
    background-position: center;
    background-image: url('/img/header-bg.jpg');

    &__title {
      color: $white;
      font-size: 4rem;
      font-weight: bolder;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    &__subtitle {
      color: $white;
      margin-top: 1rem;
      padding-left: 0.5rem;
    }
  }
}
